<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Senpai</title>
	<link rel="stylesheet" href="/static/index.css">
</head>
<body>
	<nav>
		<div id="logo">senpai</div>
		<div class="spacer">
		</div>
		<a href="#">About</a>
		<a href="#">Contact</a>
		<a href="/logout">Logout</a>
	</nav>

	<div class="layer">
		<div class="layer-inner">
			<h1>Unsubscribe links</h1>
			<p>Select the email subscriptions you won't pay attention to.</p>
			<ul id="lists"></ul>
		</div>
	</div>

	<script type="text/template" id="list-item">
	<input type="checkbox" id="n_<%= message_id %>" name="unsub_from">
	<label for="n_<%= message_id %>">
		<b><%- sender_name %></b>
		<%- sender_email %>
	</label>
	<ul>
		<% _.each(emails, function (email) { %>
			<li><%= email.subject %> <span class="right"><%= email.date %></span></li>
		<% } %>
	</ul>
	</script>

	<script src="/lib/jquery/dist/jquery.min.js"></script>
	<script src="/lib/underscore/underscore-min.js"></script>
	<script src="/lib/backbone/backbone-min.js"></script>
	<script src="/static/home.js"></script>
</body>
</html>